.confirm-email-notification {
  background: #f86f6f;
  color: #223943; }

.search-input {
  height: 25px; }

.header-color {
  background-color: rgba(255, 255, 255, 0.9) !important; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
	========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
  * Remove default margin.
  */
body {
  margin: 0; }

/* HTML5 display definitions
	========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none; }

/* Links
	========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent; }

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
	========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted; }

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold; }

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic; }

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000; }

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%; }

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
	========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0; }

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
	========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px; }

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  box-sizing: content-box;
  height: 0; }

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto; }

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
	========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible; }

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none; }

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal; }

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto; }

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold; }

/* Tables
	========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.filter-modal-row {
  display: flex;
  justify-content: space-between;
  padding: 3px; }
  .filter-modal-row .ability-row {
    padding-left: 10px; }

.offer-create-page-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  padding-top: 30px; }

.offer-create {
  width: 1100px;
  padding: 20px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.93);
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .offer-create .step-wrap .location-wrap {
    height: 100%;
    width: 100%; }
    .offer-create .step-wrap .location-wrap .map-wrap {
      height: 450px;
      width: 1160px; }

.step-navigator-container {
  width: 1100px;
  padding: 20px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.93);
  display: flexs;
  justify-content: center;
  flex-direction: column; }
  .step-navigator-container .step-navigator {
    display: flex;
    justify-content: space-between; }

.personal-form-wrapper {
  display: flex;
  justify-content: center; }

.navigate-button-wrap .item {
  font-size: 18px; }
  .navigate-button-wrap .item:hover {
    display: inline;
    color: #6CC0E5;
    border-radius: 3px;
    text-decoration: none;
    user-select: none;
    cursor: pointer; }

.search-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px; }

.panel-container {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.93); }
  .panel-container .search-form-container {
    padding: 0 5px 0 0 !important; }
    .panel-container .search-form-container .search-form {
      max-width: 350px;
      height: 730px; }
  .panel-container .search-map-container {
    min-height: 730px;
    min-width: 900px;
    padding: 0 5px 0 0 !important; }

.results-wrapper {
  padding-top: 25px;
  width: 1280px;
  background-color: rgba(255, 255, 255, 0.93); }
  .results-wrapper .search-spinner {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px; }
  .results-wrapper .result-container {
    display: flex;
    justify-content: center; }
    .results-wrapper .result-container .offer-preview-wrapper {
      width: 540px;
      padding: 10px; }
      .results-wrapper .result-container .offer-preview-wrapper .card-wrapper .selected-placemark {
        background-color: rgba(0, 0, 0, 0.03);
        border-top: 1px solid rgba(0, 0, 0, 0.125); }
      .results-wrapper .result-container .offer-preview-wrapper .card-wrapper .title {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px; }
      .results-wrapper .result-container .offer-preview-wrapper .card-wrapper:hover {
        background: #f7f7f7; }
      .results-wrapper .result-container .offer-preview-wrapper .card-wrapper .preview-img {
        min-height: 323px;
        max-height: 323px;
        width: auto; }
      .results-wrapper .result-container .offer-preview-wrapper .card-wrapper .created-at {
        max-height: 140px;
        max-width: 140px; }

.form-group-padding {
  padding-bottom: 30px; }

.offer-link {
  color: inherit; }
  .offer-link:hover {
    text-decoration: none; }

.offer-page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px; }

.offer-page {
  background-color: rgba(255, 255, 255, 0.93);
  padding: 15px; }
  .offer-page .owner-panel {
    display: flex;
    justify-content: flex-end;
    width: 100%; }
  .offer-page .admin-panel {
    width: 100%;
    text-align: end; }
    .offer-page .admin-panel button {
      margin: 2px; }
  .offer-page .placeholder {
    background: url(/import/no_photo.jpg) no-repeat scroll 0 0;
    background-size: 1070px; }
  .offer-page .images-wrapper {
    padding: 15px;
    max-width: 1070px; }
    .offer-page .images-wrapper .item {
      height: 650px;
      width: 1070px; }
    .offer-page .images-wrapper .updated {
      text-align: right;
      padding-bottom: 8px; }
  .offer-page .description-wrapper {
    padding: 0 0 15px 15px;
    margin-bottom: 20px; }
    .offer-page .description-wrapper .map {
      width: 500px;
      height: 290px;
      padding: 0 5px 0 5px; }
    .offer-page .description-wrapper .contacts {
      display: flex;
      justify-content: flex-end;
      padding: 25px 15px 0 5px;
      padding-left: 5px; }
    .offer-page .description-wrapper .description {
      padding: 25px;
      width: 563px;
      max-width: 563px; }
      .offer-page .description-wrapper .description .title {
        display: flex;
        justify-content: space-between; }
      .offer-page .description-wrapper .description .text {
        padding-left: 20px; }

.vl {
  border-left: 1px solid rgba(0, 0, 0, 0.1); }

.profile-page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px; }

.profile-page {
  background-color: rgba(255, 255, 255, 0.93);
  padding: 15px; }
  .profile-page .personal-info {
    min-width: 450px;
    max-width: 450px;
    margin: 15px; }
    .profile-page .personal-info .edit-buttons {
      padding-top: 5px;
      display: flex;
      justify-content: flex-end;
      width: 100%; }
      .profile-page .personal-info .edit-buttons button {
        margin-left: 5px; }
    .profile-page .personal-info.edit-form input {
      width: 150px; }
  .profile-page .offers {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center; }
    .profile-page .offers .list {
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px; }
      .profile-page .offers .list .offer-card {
        max-width: 380px;
        width: 380px;
        padding: 20px; }
  .profile-page .user-filter-wrapper {
    width: 800px;
    display: flex;
    flex-wrap: wrap; }
    .profile-page .user-filter-wrapper .user-filter {
      width: 390px;
      max-width: 390px;
      margin: 5px; }
      .profile-page .user-filter-wrapper .user-filter .header-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 6px 0 20px;
        margin-bottom: 0; }

@font-face {
  font-family: "stolzl";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/stolzl/Stolzl-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "stolzl";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/stolzl/Stolzl-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "stolzl";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/stolzl/Stolzl-Bold.woff2") format("woff2"); }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  display: flex;
  color: #222;
  height: 100%;
  font-family: "stolzl" !important; }

.flex-space-between {
  display: flex;
  justify-content: space-between; }
