
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-text-size-adjust: 100%; color: #3a3a3a; line-height: 1.15;">
	<head style="color: #3a3a3a;">
		<meta charset="utf-8" style="color: #3a3a3a;">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" style="color: #3a3a3a;">
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1" style="color: #3a3a3a;">
		<title style="color: #3a3a3a;">Подтвердите регистрацию</title>

	</head>
	<body style="background-color: #f5f5f5; color: #3a3a3a; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 15px; margin: 0;">
		<table class="global-wrap" border="0" cellpadding="5" cellspacing="0" style="background: #f5f5f5; color: #3a3a3a; margin: 0 auto; padding-bottom: 55px; padding-left: 27px; padding-right: 27px; padding-top: 25px; width: 100%; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-size: 15px;">
			<tr style="color: #3a3a3a;">
				<td class="column left-col" width="125px" rowspan="10" style="color: #3a3a3a; padding: 0; padding-right: 110px; text-align: center; vertical-align: top; width: 125px;">
					<b style="color: #3a3a3a; display: block; font-size: 19px; font-weight: 500; line-height: 25px; padding-top: 26px; width: 125px;">Подтверждение электронной почты</b>
				</td>
				<td class="column" style="color: #3a3a3a; min-width: 550px; padding: 0;">
					<table style="color: #3a3a3a; width: 100%;">
						<tr style="color: #3a3a3a;">
							<td class="r-h" style="color: #3a3a3a; padding: 0; padding-left: 28px; padding-top: 38px;">Привет!</td>
						</tr>
						<tr style="color: #3a3a3a;">
							<td class="r-h" style="color: #3a3a3a; padding: 0; padding-bottom: 23px; padding-left: 28px; padding-top: 25px;"><b style="color: #3a3a3a; font-weight: bolder;">Спасибо за создание аккаунта в сервисе RealtOff!</b></td>
						</tr>
						<tr>
							<td style="line-height: 21px; color: #3a3a3a; padding: 0; padding-bottom: 27px; padding-left: 28px; padding-top: 0px;">
								<p style="margin: 0; padding: 0; width: 430px;">Это письмо было отправлено автоматически после Вашей регистрации<br>Пожалуйста, не переходите по ссылке, если вы не создавали аккаунт RealtOff</p>
							</td>
						</tr>
						<tr style="color: #3a3a3a;">
							<td style="color: #3a3a3a; padding: 0;">
								<table class="inner-table" border="0" cellpadding="5" cellspacing="0" style="background-color: #ebebeb; color: #3a3a3a; font-size: 13px; max-width: 670px; padding-bottom: 28px; padding-left: 30px; padding-right: 28px; padding-top: 23px; width: 100%;">
									<tr style="color: #3a3a3a;">
										<td style="color: #3a3a3a; line-height: 21px; padding: 0; padding-bottom: 0px;">
											<div style="display: inline-block;">
												<p style="margin: 0; padding: 0; font-size: 13px;">Подтвердите регистрацию переходом по ссылке:</p>
												<a href={{url}} style="display: block; padding-top: 10px; background-color: transparent; color: #6d9fe6; text-decoration: none; font-size: 19px; font-weight: 600;">{{url}}</a>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr class="t-foot" style="color: #3a3a3a;">
							<td style="color: #3a3a3a; line-height: 21px; padding: 0; padding-left: 30px;"><p style="color: #3a3a3a; margin: 0; margin-top: 28px; max-width: 400px;">Почты для связи <a href="{{contact_email}}" style="background-color: transparent; color: #6d9fe6; text-decoration: none;">{{contact_email}}</a></p></td>
						</tr>
						<tr class="t-foot t-foot_2" style="color: #3a3a3a;">
							<td style="color: #3a3a3a; line-height: 21px; padding: 0; padding-left: 30px; padding-top: 20px;">С уважением, Команда RealtOff</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
